.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

/android/
/ios/
/linux/
/macos/
/web/
/windows/

*.iml
.idea/
.vscode/

local-review/
.local-review/

*.log
